@model IEnumerable<ImageModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Images</h1>
@foreach(var item in Model)
{
    <div class="flex-container">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@item.ThumbnailUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@item.Title</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
}

@{
}
