@model IEnumerable<AlbumModel>
@{
    ViewData["Title"] = "Albums";
    
}
<section class="text-center" style="padding:4rem 2rem">
        <div class="container">
          <h1 class="heading">Albums</h1>
          <p class="lead text-muted">Here is a short example of Albums collected from Jsonplaceholder. Visit them to view all their pictures. </p>
          <p>
           
            <a type="button" class="btn btn-primary "  asp-action="Index" method="Sort" asp-route-sort="@ViewData["NameSortParm"]">Sort Alphabetically</a>
          </p>
        </div>
      </section>
<div class="container">

  
<div class="row">


@foreach(var item in Model)
{
              
                <div class="col-6 mw-100  align-items-stretch py-3">
            <div class="card text-white bg-secondary mb-3d mx-auto" style="width: 20rem;">
            <h5 class="card-header">@item.Title</h5>
            <div class="card-body align-self-md-center mt-1">
            <a asp-controller="Image" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">To Album</a>
            </div>
            </div>
            </div>
}

  </div>
  </div>